$cut-out: 7%;
$features-index: 2;
$nav-index: 3;

$white: white;
$white_03: rgba(white, 0.3);
$white_04: rgba(white, 0.4);

$gray_07: rgba(gray, 0.7);

$black: black;
$black_06: rgba(black, 0.6);
$black_07: rgba(black, 0.7);
$black_08: rgba(black, 0.8);
$black_85: rgba(black, 0.85);
$color_555: #555;
