.selector {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;

  &__input {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__label {
    display: flex;
  }

  &__field {
    padding-left: 0.2rem;
    border-bottom: 1px solid transparent;
    &:focus,
    &:active {
      border-bottom: 1px solid $violet_1817188_06;
    }
  }

  &__list-ref {
    width: 100%;
    height: 0px;
    position: relative;
  }

  &__list {
    // display: none;
    width: 100%;
    position: absolute;
    top: 0.2rem;
    // background: $violet_350d36;
    border-radius: 0.2rem;

    &--single {
      background: $violet_350d36;
      box-shadow: 0.1rem 0.1rem 0.8rem $violet_350d36_03;
    }
  }

  &__item {
    margin: 0.2rem;
    cursor: pointer;
  }
}
