.selector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;

  &--multiple {
    background-color: $violet_350d36;
    top: $chat-info-h + 0.5rem;
    right: 0.8rem;
    position: fixed;
    padding: 0.2rem 0 1rem 0.2rem;
    box-shadow: 0.2rem 0.2rem 0.8rem $violet_350d36_03;
  }

  &__input {
    position: relative;
    display: flex;
    align-items: center;
    &--multiple {
      padding: 0.4rem;
    }
  }

  &__label {
    display: flex;
  }

  &__field {
    margin-left: 0.5rem;
    border-bottom: 1px solid transparent;
    &:focus,
    &:active {
      border-bottom: 1px solid $violet_1817188_06;
    }
  }

  &__list-ref {
    width: 100%;
    height: 0px;
    position: relative;

    &--multiple {
      height: auto;
    }
  }

  &__selection {
    background: $violet_350d36;
    box-shadow: 0.1rem 0.1rem 0.8rem $violet_350d36_03;

    &--multiple {
      position: relative;
      top: 0;
      background: transparent;
      box-shadow: none;
    }
  }

  //not present in multiselector
  &__actions {
    // height: 1.5rem;
    padding-right: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__action {
    color: $violet_1817188;
    margin: 0.4rem 0.2rem;
    display: flex;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1.05);
    }
  }

  &__scroller {
    padding: 0 0.2rem;
    max-height: 10rem;
    overflow-y: scroll;
  }

  &__list {
    width: 100%;
    border-radius: 0.2rem;
  }

  &__item {
    margin: 0.2rem;
    cursor: pointer;
  }
}
