@import "./constants";

button {
  padding: 0.5rem 2rem;
  font-family: inherit;
  border-radius: 20rem;
  background: $white_06;
  text-transform: uppercase;
  font-weight: 700;
  color: $white_09;
  box-shadow: 0 0.2rem 0.8rem $black_03;
  border: 1px solid transparent;
  border-top: 2px solid $white_04;
  border-right: 1px solid $white_04;

  &:active {
    transform: translateX(0.2rem);
  }
}
