@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;700&display=swap");

@font-face {
  font-family: "Atmospheric";
  font-style: normal;
  font-weight: normal;
  src: local("Atmospheric"), url("../assets/fonts/Atmospheric.ttf") format("truetype"),
    url("../assets/fonts/Atmospheric.otf") format("opentype");
}

@font-face {
  font-family: "Mechanismo";
  font-style: normal;
  font-weight: normal;
  src: local("Mechanismo"), url("../assets/fonts/Mechanismo.otf") format("opentype");
}

@font-face {
  font-family: "Grave Digger";
  font-style: normal;
  font-weight: normal;
  src: local("Grave Digger"), url("../assets/fonts/Gravedigger.ttf") format("truetype");
}
