@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");

@font-face {
  font-family: "Atmospheric";
  font-style: normal;
  font-weight: 400;
  src: local("Atmospheric"), url("../assets/fonts/Atmospheric.ttf") format("truetype"),
    url("../assets/fonts/Atmospheric.otf") format("opentype");
}

@font-face {
  font-family: "Mechanismo";
  font-style: normal;
  font-weight: 400;
  src: local("Mechanismo"), url("../assets/fonts/Mechanismo.otf") format("opentype");
}

@font-face {
  font-family: "Grave Digger";
  font-style: normal;
  font-weight: normal;
  src: local("Grave Digger"), url("../assets/fonts/Gravedigger.ttf") format("truetype");
}

@font-face {
  font-family: "Xolonium";
  font-style: normal;
  font-weight: 400;
  src: local("Xolonium"), url("../assets/fonts/Xolonium-Regular.ttf") format("truetype"),
    url("../assets/fonts/Xolonium-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Xolonium";
  font-style: bold;
  font-weight: 700;
  src: local("Xolonium"), url("../assets/fonts/Xolonium-Bold.ttf") format("truetype"),
    url("../assets/fonts/Xolonium-Bold.otf") format("opentype");
}
