.profile {
  //   display: flex;
  display: flex;
  align-items: center;

  &__logout {
    background: transparent;
    display: inline-flex;
    margin-left: 0.5rem;

    &:active,
    &:hover {
      color: $white_09;
    }

    &:active {
      transform: scale(1.05);
    }
  }
}
