.profile {
  @extend %flex-column;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $violet_1817188_06;

  &__avatar {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    width: 3.5rem;
    height: 3.5rem;
  }

  &__logout {
    margin-top: 0.5rem;
    text-transform: uppercase;
    font-size: 0.6rem;
    background: transparent;
    display: inline-flex;

    &:active,
    &:hover {
      color: $white_09;
    }

    &:active {
      transform: scale(1.05);
    }
  }
}

.profile--none {
  @extend %flex-column;
  padding-bottom: 0.5rem;

  &__avatar {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background: $violet_1817188_06;
    margin-bottom: 0.5rem;
  }

  &__name {
    min-height: 2em;
    width: 5rem;
    background: $violet_1817188_06;
  }
}
