.profile {
  @extend %flex-column;
  border-bottom: 1px solid $violet_1817188_06;
  padding-bottom: 1rem;
  margin-bottom: 0.8rem;

  &__avatar {
    margin: 0.5rem auto;
  }

  &__logout {
    text-transform: uppercase;
    font-size: 0.6rem;
    background: transparent;
    display: inline-flex;

    &:active,
    &:hover {
      color: $white_09;
    }

    &:active {
      transform: scale(1.05);
    }
  }

  &--none {
    @extend .profile;
    min-height: 10rem;

    &__avatar {
      border-radius: 50%;
      margin-bottom: 0.5rem;
      height: 3.5rem;
      width: 3.5rem;
      background-color: $violet_1817188_06;
    }

    &__name {
      height: 1rem;
      width: 5rem;
      background-color: $violet_1817188_06;
    }
  }
}
