$padding: 0.2rem;

.i-form {
  position: relative;
  display: inline-flex;
  align-items: center;
  background-color: $violet_350d36;
  color: $violet_1817188;

  &__div {
    position: relative;
  }

  &__field {
    position: absolute;
    left: $padding;
    color: transparent;
    height: 100%;
    width: 100%;
    background-color: transparent;
    width: 100%;
    &:focus {
      color: $violet_1817188;
    }

    &:focus + .i-form__label {
      color: transparent;
    }
  }

  &__label {
    position: inline-block;
    padding: $padding;
    background-color: transparent;
    cursor: text;
  }

  &__submit {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
    font-size: 0.9em;
    background-color: transparent;
  }
}
