$padding: 0.2rem;

.i-form {
  display: inline-flex;
  align-items: center;
  background-color: $violet_350d36;
  color: $violet_1817188;

  &__div {
    position: relative;
  }

  &__field {
    position: absolute;
    left: $padding;
    color: transparent;
    height: 100%;
    width: 100%;
    background-color: transparent;
    width: 100%;
    &:focus {
      color: $violet_1817188;
    }

    &:focus + .i-form__label {
      color: transparent;
    }
  }

  &__label {
    position: inline-block;
    padding: $padding;
    background-color: transparent;
    cursor: text;
  }

  &__submit {
    // margin-left: 0.5rem;
    font-size: 0.9em;
    min-width: 1.5rem;
    min-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
}
