$violet_833883: rgb(82, 38, 83);

$violet_1817188: rgb(188, 171, 188);
$violet_1817188_06: rgba(188, 171, 188, 0.6);
$violet_350d36: #350d36;
$violet_350d36_05: rgba(#350d36, 0.5);
$violet_350d36_03: rgba(#350d36, 0.3);

$blue_0066ff: #0066ff;

$crimson: crimson;
$crimson_06: rgba(crimson, 0.6);

$white_09: rgba(white, 0.9);
