@import "../variables/constants";

.header {
  height: 100vh;
  background: linear-gradient(45deg, $black_07, $black_85),
    url("../assets/images/nokia910_683.jpg") center/cover no-repeat;
  // margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__text {
    font-size: 10rem;
    color: $white;
    font-family: "Grave Digger";
    font-weight: 300;
    text-shadow: 0.4rem 0.4rem $white_04, 0.8rem 0.8rem $white_03;
  }

  &__prag {
    font-size: 1.5rem;
    font-family: "Xolonium";
    color: $white;
  }

  padding-bottom: $cut-out;
}
