@import "../variables/constants";
.material {
  position: relative;
  padding-top: $cut-out;
  height: 50rem;
  width: 100%;
  background: url("../assets/images/backdown.jpg") center/cover no-repeat;

  // align-items: center;
  justify-items: center;

  &__desc {
    position: absolute;
    top: 1rem;
    left: 1rem;
    & > p {
      color: $black_07;
      font-family: "Mechanismo";
      text-transform: uppercase;
      font-size: 2rem;
      text-shadow: 0.1rem 0.1rem $gray_05;
    }

    & span {
      color: crimson;
    }
  }

  &__feat {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    text-align: right;

    color: $black_07;
    font-family: "Mechanismo";
    font-size: 2rem;
    justify-self: center;
    text-align: center;
    text-shadow: 0.15rem 0.15rem $gray_07;
    align-self: end;

    & > span {
      text-align: right;
      display: block;
      background-image: linear-gradient(to right, transparent, #bcc6cc, #eee, #bcc6cc, transparent);
    }
  }
}
