@import "../constants/constants.scss";

$_modal-radius: 0.8rem;

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30rem;
  width: 90%;
  background: pink;
  z-index: $modal-index;
  border-radius: $_modal-radius;

  &_hidden {
    display: none;
  }

  &_show {
    animation: modal-show 0.1s ease-in forwards;
  }

  &_hide {
    animation: modal-hide 0.1s ease-in forwards;
  }

  &__shell {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__action {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    width: 2rem;
    height: 2rem;
    background: $gray_222;
    border-radius: $_modal-radius;
    box-shadow: 0.1rem 0.1rem 0.4rem $black_04;
    font-size: 1.5rem;
    color: $white;
  }

  &:active {
    box-shadow: 0.05rem 0.05rem 0.2rem $black_04;
  }
}

.modal__backdrop {
  position: fixed;
  background: $black_08;
  z-index: $backdrop-index;
  width: 100%;
  height: 100%;

  &_hidden {
    display: none;
  }

  &_show {
    animation: backdrop-show 0.1s ease-in forwards;
  }

  &_hide {
    animation: backdrop-hide 0.1s ease-in forwards;
  }
}

@keyframes modal-show {
  0% {
    opacity: 0;
    top: 40%; //fade from above
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes modal-hide {
  0% {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    top: 45%; //fade to top
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes backdrop-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes backdrop-hide {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
