@import "../variables/constants";
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer {
  height: 10rem;
  background-color: green;
}

main {
  display: grid;
  grid-template-rows: repeat(9, auto);
  background-color: transparent;
  margin-top: -$cut-out;
}
