@import "../variables/constants";
.power {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%-$cut-out);
  margin-top: -$cut-out;
  padding-top: $cut-out;
  width: 100%;
  margin-bottom: -$cut-out;
  height: 60rem;
  background: linear-gradient($black_06, $black_08),
    url("../assets/images/infinity.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;

  &__heading {
    color: transparent;
    font-family: "Mechanismo";
    text-align: center;
    font-size: 2.8rem;
    display: inline-block;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
    // text-shadow: 0 0 0.4rem white;
    background-image: linear-gradient(
      to right,
      $red_ff0066,
      $yellow_ffff00,
      $magenta_ff00ff,
      $green_00ff00,
      $blue_0066ff
    );
    background-clip: text;
    -webkit-background-clip: text;
  }

  &__desc {
    font-family: "Xolonium";
    color: $white;
    font-weight: 900;
    font-size: 1.3rem;
    text-shadow: 0 0 0.4rem $white;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    @media screen and (max-width: 380px) {
      flex-direction: column;
    }
  }

  &__6 {
    color: transparent;
    font-size: 3rem;
    background-image: linear-gradient(
      45deg,
      $red_ff0066,
      $yellow_ffff00,
      $magenta_ff00ff,
      $green_00ff00,
      $blue_0066ff
    );
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: none;
  }

  & sup {
    font-family: "Lato";
    text-shadow: none;
    font-size: 0.8rem;
  }
}
