@import "../variables/constants.scss";

.promotion {
  clip-path: polygon(0 0, 100% $cut-out, 100% 100%-$cut-out, 0 100%);
  width: 100%;
  height: 40rem;
  background: linear-gradient(45deg, $white, $white_07),
    url("../assets/images/assorted.jpg") center/cover no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
  margin-bottom: -$cut-out;
  margin-top: -$cut-out;

  &__heading {
    font-family: "Xolonium";
    font-size: 4rem;
    color: transparent;
    background-image: linear-gradient(to right, $red_ff0066, $black, $orange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.1rem $black_01;
  }

  &__desc {
    color: $black_07;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.4rem;
    text-shadow: 0.1rem 0.1rem $gray_03;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
    text-align: center;
    padding: 0 1rem;
  }

  &__action {
    appearance: none;
    font-size: 0.8rem;

    padding: 0.4rem;
    border-radius: 4rem;
    outline: none;
    border: none;
    font-family: "Atmospheric";
    box-shadow: 0.1rem 0.1rem 0.4rem $black_04;
    width: 13rem;
    background-image: linear-gradient(
      to left,
      $red_ff0066,
      $yellow_ffff00,
      $green_00ff00,
      $blue_0066ff
    );
    text-shadow: 0 0 0.4rem white;

    &:active {
      transform: translateY(0.1rem);
      box-shadow: 0.05rem 0.05rem 0.2rem $black_04;
    }
  }
}
