@import "../constants/constants.scss";

.demo {
  position: relative;
  clip-path: polygon(0 0, 100% $demo__cut-out, 100% 100%, 0 $demo__height - $demo__cut-out);
  height: $demo__height;
  background: $black;
  margin-top: -$demo__cut-out;
  padding-top: $demo__cut-out;
  padding-bottom: $promotion__cut-out;
  display: flex;
  align-items: center;
  justify-content: center;

  video {
    height: 100%;
    opacity: 0.5;
  }

  @media screen and (max-width: 535px) {
    height: 28rem;
  }

  @media screen and (max-width: 423px) {
    height: 26rem;
  }

  //   @media screen and (max-width: 423px) {
  //     height: 26rem;
  //   }
}
