@import "../constants/constants.scss";

$profile-height: 2rem;

.sidebar {
  grid-area: 1/1/-1/2;
  color: $violet_1817188;
  background-color: $violet_350d36;
  width: 10rem;
  height: 100%;

  padding: 0.5rem;

  &__actions {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0.2rem;

    & > button {
      background: transparent;
    }
  }

  &__add {
    margin-left: 0.5rem;
  }

  &__menu {
    display: flex;
    align-items: center;
  }
}
