.chat-bar {
  width: 100%;
  padding: $chat-padding;
  display: flex;
  position: relative;
  align-items: center;
  color: $violet_833883;

  &__input {
    border-radius: 0.5rem;
    color: inherit;
    resize: none;
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    height: 100%;
    padding: $chat-padding;
    border: 1px solid $violet_1817188;

    &::placeholder {
      font-size: inherit;
    }
  }

  &__send {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding-left: 0.5rem;
    min-width: 2rem;
    min-height: 1em;
  }
}
