.chat-bar {
  width: 100%;
  padding: 0.4rem;
  display: flex;
  position: relative;
  align-items: center;
  color: $violet_833883;

  &__input {
    color: inherit;
    resize: none;
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    height: 100%;
    padding: 0.4rem;
    border: 1px solid $violet_1817188;

    &::placeholder {
      font-size: inherit;
    }
  }

  &__send {
    display: flex;
    background-color: transparent;
    padding-left: 0.5rem;
  }
}
