.app {
  width: 100%;
  min-height: 100%;

  display: grid;
  grid-template: 1fr / auto 1fr;

  &__sidebar {
    grid-area: 1/1/2/2;
  }

  &__view {
    grid-area: 1/2/2/3;
    background: $gray_f5f5f5;
    // background-color: $violet_1817188_06;
    height: 100vh;
  }

  &__selector {
    margin: 0.5rem;
  }

  // &__chat-bar {
  //   grid-area: 2/2/3/3;
  // }
}
