.chat {
  width: 100%;
  height: 100%;

  display: grid;

  grid-template: auto 1fr auto / 1fr;

  &__multi-selector {
    top: $chat-info-h + 0.5rem;
    right: 0.8rem;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $violet_833883;
    color: $violet_1817188;
    padding: 0.2rem;
    min-height: $chat-info-h;
  }

  &__name {
    font-weight: 700;
  }

  &__members {
    display: flex;
    align-items: center;
    padding-right: 1rem;
  }

  &__adder {
    display: flex;
    margin-left: 0.4rem;
  }

  &__field {
    font-weight: 700;
    padding: 0.2rem;
    color: $violet_1817188;
    &::placeholder {
      color: $violet_1817188_06;
    }
  }

  &__creator {
    text-transform: uppercase;
    min-width: 3rem;
    min-height: 1.3rem;
    background-color: $purple;
    color: $violet_1817188;
    padding: 0 0.5rem;
    margin-left: 1rem;
    border-radius: 10rem;
    font-size: 0.9rem;
    box-shadow: 0.2rem 0.2rem 0.4rem $violet_350d36;

    &:hover {
      transform: translateY(-0.05rem);
    }

    &:active {
      transform: translateY(0.02rem);
    }
  }

  &__icon {
    display: inline-flex;
    padding-right: 0.2rem;
  }

  &__scroller {
    overflow-y: scroll;
  }
}
