.chat {
  width: 100%;
  height: 100%;

  display: grid;

  grid-template: auto 1fr auto / 1fr;

  &__multi-selector {
    top: $chat-info-h + 0.5rem;
    right: 0.8rem;
  }

  &__info {
    grid-row: 1/2;
    display: flex;
    align-items: center;
    background-color: $violet_833883;
    color: $violet_1817188;
    padding: 0.2rem;
    min-height: $chat-info-h;
    box-shadow: 0 0.6rem 0.4rem -0.4rem $violet_1817188;

    &--creator {
      justify-content: space-between;
    }

    &--group {
      justify-content: space-between;
    }
  }

  &__name {
    display: flex;
    align-items: center;
    font-weight: 700;
  }

  &__text {
    // display: inline-block;
    max-width: 8rem;
    @include prevent-text;
  }

  &__members {
    padding-right: 0.5rem;
    margin-right: 0.1rem;

    &--creator {
      display: flex;
      align-items: center;
    }
  }

  &__adder {
    display: flex;
    margin-left: 0.4rem;
  }

  &__field {
    font-weight: 700;
    padding: 0.2rem;
    color: $violet_1817188;
    &::placeholder {
      color: $violet_1817188_06;
    }
  }

  &__creator {
    text-transform: uppercase;
    min-width: 3rem;
    min-height: 1.3rem;
    background-color: $purple;
    color: $gray_f5f5f5;
    padding: 0 0.8rem;
    margin-left: 1rem;
    border-radius: 10rem;
    font-size: 0.9rem;
    box-shadow: 0.2rem 0.2rem 0.4rem $violet_350d36;
    font-size: 0.8rem;

    &:hover {
      transform: translateY(-0.05rem);
    }

    &:active {
      transform: translateY(0.02rem);
    }
  }

  &__icon {
    display: inline-flex;
    padding-right: 0.2rem;
  }

  &__scroller {
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  &__chat-bar {
    grid-row: 3/4;
  }
}
