.chat-info {
  color: $violet_1817188;
  display: flex;
  justify-content: space-between;
  padding: $chat-padding;

  &__div {
    display: flex;
    align-items: center;
  }

  &__name {
    display: flex;
    align-items: center;
  }

  &__icon {
    display: flex;
    padding-right: 0.2rem;
  }

  &__number {
    font-size: 0.8rem;
    padding: 0.1rem 0.4rem;
    background: $violet_1817188;
    color: $violet_833883;
    border-radius: 50%;
  }

  &__add {
    padding-left: 0.3rem;
    padding-right: 0.4rem;
    display: flex;
  }
}
