@import "../../variables/constants.scss";

.form,
#survey-form {
  width: 100%;
  padding: 3rem 1rem 0.5rem 0.5rem;
  // margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 0.8rem;
  // border: 0.1rem solid $form__border-normal;
  background-color: white;
  box-shadow: 0.1rem 0.1rem 0.8rem $black_03;
  border-radius: 0.8rem;
}

.form-error {
  text-align: center;
  margin-top: -1rem;
  font-size: $form__toolkit-size;
  color: $form__error-primary;
  height: 2.2rem;
}
