.line {
  display: grid;
  grid-template: auto auto / 1fr;
  width: 100%;

  &__div {
    padding: 0.2rem;
    display: flex;
    border-bottom: 1px solid $navy;
  }

  &__field {
    width: 100%;
    color: $navy;
    // background-color: black;

    &::placeholder {
      color: rgba($navy, 0.5);
    }
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
  }

  &__toolkit {
    padding-top: 0.1rem;
    display: block;
    color: rgba($red, 0.8);
    font-size: 0.7rem;
    padding-left: 0.2rem;
    min-height: 1.2rem;
  }

  &__icon {
    color: rgba($navy, 0.7);
    font-weight: 700;
  }
}
