$padding: 0.2rem;

.line-form {
  position: relative;
  display: inline-flex;
  align-items: center;
  background-color: $violet_350d36;
  color: $violet_1817188;

  &--profile {
    margin-bottom: 0.3rem;
  }

  &__div {
    position: relative;
  }

  &__loader {
    min-height: 1.2rem;
    width: 3rem;
    display: flex;
    align-items: center;
  }

  &__field {
    font-size: 1.1rem;
    position: absolute;
    left: $padding;
    color: transparent;
    height: 100%;
    width: 100%;
    background-color: transparent;

    &:focus {
      color: $violet_1817188;
    }

    &:focus + .line-form__label {
      color: transparent;
      border-bottom: 1px solid $violet_1817188_06;
    }

    &:hover + .line-form__label {
      border-bottom: 1px solid $violet_1817188_06;
    }
  }

  &__label {
    width: 100%;
    height: 100%;
    color: $violet_1817188;
    position: inline-block;
    padding: $padding;
    border-bottom: 1px solid transparent;
    padding-bottom: 0.1rem;
    background-color: transparent;
    cursor: text;
    font-size: 1.1rem;
    display: block;
    max-width: 5rem;
    @include prevent-text;

    &--channel {
      padding: 0;
      font-size: 1rem;
    }
  }

  &__submit {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
    font-size: 0.9em;
    background-color: transparent;
  }
}
