$padding: 0.2rem;

.line-form {
  position: relative;
  display: inline-flex;
  align-items: center;
  background-color: $violet_350d36;
  color: $violet_1817188;
  min-height: 1em;

  &--profile {
    margin-bottom: 0.3rem;
  }

  &__div {
    position: relative;
  }

  &__field {
    font-size: 1.1rem;
    position: absolute;
    left: $padding;
    color: transparent;
    height: 100%;
    width: 100%;
    background-color: transparent;

    &:focus {
      color: $violet_1817188;
      text-decoration: underline;
    }

    &:focus + .line-form__label {
      color: transparent;
    }

    &:hover + .line-form__label {
      text-decoration: underline;
    }

    &--channel {
      left: 0;
      padding: 0;
      font-size: 1rem;

      &:focus {
        left: $padding;
        color: $violet_1817188;
        text-decoration: underline;
      }

      &:focus + .line-form__label {
        padding: $padding;
        color: transparent;
      }
    }
  }

  &__label {
    color: $violet_1817188;
    position: inline-block;
    padding: $padding;
    background-color: transparent;
    cursor: text;
    font-size: 1.1rem;

    &--channel {
      padding: 0;
      font-size: 1rem;
    }
  }

  &__submit {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
    font-size: 0.9em;
    background-color: transparent;
  }
}
