@import "../constants/constants.scss";

.greet {
  // text-transform: uppercase;
  // font-family: "Comic Neue";
  font-weight: 700;
  color: $white_07;
  padding: 0.5rem;

  font-size: 1.6rem;

  &__date {
    margin-bottom: 0.2rem;
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
  }
}

.time {
  font-size: 3.2rem;
  color: $white;
  text-align: center;
  padding: 1rem;
  padding-bottom: 0;
  font-weight: 700;
}
