@import "../constants/constants";
body {
  background: linear-gradient(45deg, $black_07, $black_85),
    url("https://source.unsplash.com/featured/?nature") center/cover no-repeat;
  // @extend %flex-center;
  position: relative;

  display: grid;
  grid-template: auto auto 1fr auto / 100%;
}
