.pointer {
  // background-color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: inherit;
  cursor: pointer;

  &--active {
    color: $white_09;
    background-color: purple;
  }

  &__link {
    display: flex;
    width: 100%;
    align-items: center;

    &--menu {
      padding: 0.2rem;
    }

    &--selector {
      padding: 0.2rem;
      &:hover {
        background-color: $violet_1817188_06;
      }
    }

    &--active {
      background-color: $purple;
    }
  }

  &__text {
    padding-left: 0.2rem;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 6rem;
  }

  &__icon {
    padding-left: 0.2rem;
    display: flex;
    color: inherit;
    width: 1.1em;
    height: 1.1em;
    &--left {
      padding-left: 0;
    }
  }

  &__action {
    display: flex;
    padding: 0.2rem;
    color: inherit;
    cursor: pointer;
  }
}
