.message {
  display: flex;
  align-items: center;

  &--mine {
    align-self: flex-end;
  }

  &__div {
    margin-left: 0.3rem;
    display: flex;
    flex-direction: column;
  }

  &__photo {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  &__content {
    flex-shrink: 1;
    font-size: 0.9rem;
    padding: 0.7rem;

    background: $violet_833883;
    color: $violet_1817188;
    font-family: inherit;
    border-radius: 0.6rem;
    max-width: 70vw;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;

    @media screen and (max-width: 1160px) {
      max-width: 50vw;
    }
    @media screen and (max-width: 700px) {
      max-width: 70vw;
    }

    &--mine {
      background: $purple;
      color: $violet_1817188;
    }
  }

  &__time-stamp {
    color: $violet_350d36_05;
    font-size: 0.6em;
    align-self: flex-end;
    margin-right: 0.2rem;
    margin-top: 0.1rem;
  }

  &__name {
    color: $violet_833883;
    font-size: 0.9rem;
    font-weight: 700;
    @include prevent-text;
    max-width: 5rem;
  }
}
