.message {
  display: flex;
  align-items: center;

  &--mine {
    align-self: flex-end;
  }

  &__div {
    margin-left: 0.3rem;
    display: flex;
    flex-direction: column;
  }

  &__photo {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }

  &__content {
    font-size: 0.9rem;
    padding: 0.7rem;

    background: $violet_833883;
    color: $violet_1817188;
    font-family: inherit;
    border-radius: 0.6rem;

    &--mine {
      background: $violet_1817188;
      color: $violet_350d36;
    }
  }

  &__time-stamp {
    color: $violet_1817188;
    font-size: 0.6em;
    align-self: flex-end;
    margin-right: 0.2rem;
    margin-top: 0.1rem;
  }

  &__name {
    color: $violet_833883;
    font-size: 0.9rem;
    font-weight: 700;
  }
}
