.form {
  @extend %inline-flex-column;
  align-items: center;
  border: 1px solid $violet_350d36_05;
  width: auto;
  margin: 0.5rem;
  padding: 1rem;
  width: 20rem;

  &__fields {
    @extend %inline-flex-column;
  }

  &__info {
    margin-bottom: 0.5rem;
    @extend %flex-column;
  }

  &__switch {
    font-size: 0.8em;
    cursor: pointer;
  }

  &__toolkit {
    font-size: 0.8em;
    color: $crimson_06;
    margin-bottom: 0.8rem;
    text-align: center;
  }

  &__action {
    background: $violet_350d36;
    padding: 0.2rem 1rem;
    border-radius: 10rem;
    color: $violet_1817188;
    min-width: 5rem;
    min-height: 2rem;
  }
}
